{% if hospitals %}
<br>
<hr>
<h4 class="text-center">HOSPITALS</h4>

<table class="table table-hover table-inverse">
    <thead class="thead-inverse">
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Rate</th>
        <th>Capacity</th>
        <th>Handicapped</th>
        <th>Park</th>
        <th>Options</th>
    </tr>
    </thead>
    <tbody>
    {% for hospital in hospitals %}
    <tr>
        <td>{{ hospital.name }}</td>
        <td>{{ hospital.address.city }}/{{ hospital.address.district }}</td>
        <td>{{ hospital.rate }}</td>
        <td>{{ hospital.capacity }}</td>
        <td>{{ hospital.handicapped }}</td>
        <td>{{ hospital.park }}</td>
        <td><a href="update_hospital({{ hospital.id }});"><i class="fa fa-edit"></i></a>
            <a href="{{ url_for('del_hospital', hospital_id = hospital.id) }}"><i class="fa fa-trash-alt"></i></a>
        </td>
    </tr>
    {% endfor %}

    </tbody>
</table>
{% endif %}

