{% extends 'base.html' %}

{% block title %}DOCTORS{% endblock %}

{% block body %}

    <div class="container">
        <br>
        <div class="row">
            <div class="col">
                <h4 class="text-center">ADD DOCTORS</h4>
                <hr>
                <form method="POST" action="/add_doctor">
                    <div class="form-group row">
                        <label for="doctor_name" class="col-sm-2 col-form-label">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" name="doctor_name" class="form-control" id="doctor_name" placeholder="Canan">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="doctor_surname" class="col-sm-2 col-form-label">Surname: </label>
                        <div class="col-sm-10">
                            <input type="text" name="doctor_surname" class="form-control" id="doctor_surname" placeholder="Karatay">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="doctor_tc" class="col-sm-2 col-form-label">TC: </label>
                        <div class="col-sm-10">
                            <input type="text" name="doctor_tc" class="form-control" id="doctor_tc" placeholder="Must be legit TC no">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="doctor_password" class="col-sm-2 col-form-label">Password: </label>
                        <div class="col-sm-10">
                            <input type="text" name="doctor_password" class="form-control" id="doctor_password" placeholder="Password assigned to the doctor">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="doctor_email" class="col-sm-2 col-form-label">E-mail: </label>
                        <div class="col-sm-10">
                            <input type="text" name="doctor_email" class="form-control" id="doctor_email" placeholder="Will be used to contact">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="city_select_add" class="col-sm-2 col-form-label">City: </label>
                        <div class="col-sm-4">
                            <select class="form-control" name="city_select_add" id="city_select_add">
                                {% for city in cities %}
                                     <option value="{{ city }}">{{ city }}</option>
                                {% endfor %}

                        </select>
                        </div>

                        <label for="district_select_add" class="col-sm-2 col-form-label">District: </label>
                        <div class="col-sm-4">
                            <select class="form-control" name="district_select_add" id="district_select_add">
                                 <option value="">Choose a City</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="hospital_select_add" class="col-sm-2 col-form-label">Hospital: </label>
                        <div class="col-sm-10">
                            <select class="form-control" name="hospital_select_add" id="hospital_select_add">
                                 <option value="">Choose a Hospital</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">Workdays: </div>
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input class="form-check-input" name="Monday" type="checkbox" id="gridCheck1">
                                <label class="form-check-label" for="gridCheck1">
                                    Monday
                                </label>
                                <div></div>
                                <input class="form-check-input" name="Tuesday" type="checkbox" id="gridCheck1">
                                <label class="form-check-label" for="gridCheck1">
                                    Tuesday
                                </label>
                                <div></div>
                                <input class="form-check-input" name="Wednesday" type="checkbox" id="gridCheck1">
                                <label class="form-check-label" for="gridCheck1">
                                    Wednesday
                                </label>
                                <div></div>
                                <input class="form-check-input" name="Thursday" type="checkbox" id="gridCheck1">
                                <label class="form-check-label" for="gridCheck1">
                                    Thursday
                                </label>
                                <div></div>
                                <input class="form-check-input" name="Friday" type="checkbox" id="gridCheck1">
                                <label class="form-check-label" for="gridCheck1">
                                    Friday
                                </label>
                                <div></div>
                                <input class="form-check-input" name="Saturday" type="checkbox" id="gridCheck1">
                                <label class="form-check-label" for="gridCheck1">
                                    Saturday
                                </label>
                                <div></div>
                                <input class="form-check-input" name="Sunday" type="checkbox" id="gridCheck1">
                                <label class="form-check-label" for="gridCheck1">
                                    Sunday
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" id="hebe" class="btn btn-primary">Add Doctor</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col">
                <form method="POST" action="{{ url_for('delete_doctor') }}">

                <h4 class="text-center">DELETE DOCTOR</h4>
                <hr>

                    <div class="form-group row">
                        <label for="doctor_select" class="col-sm-2 col-form-label">TC: </label>
                        <div class="col-sm-10">
                            <input type="text" name="doctor_tc" class="form-control" id="doctor_name" placeholder="TC of the doctor">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">DELETE DOCTOR</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>


{% endblock %}

{% block JS %}
<script>
$(document).ready(function() {


$('#city_select_add').change(function () {

        var url = "/get_districts";
        var city_name = $(this).val();
        $.ajax({
            type: 'POST',
            url:url,
            data: {
                'city_name':city_name
            },
            success: function (data) {
                $('#district_select_add').html(data);
            }
        });
    });

$('#district_select_add').change(function () {

        var url = "/get_hospitals";
        var city_name = $('#city_select_add').val();
        var district_name = $(this).val();
        $.ajax({
            type: 'POST',
            url:url,
            data: {
                'city_name':city_name,
                'district_name':district_name
            },
            success: function (data) {
                $('#hospital_select_add').html(data);
            }
        });
    });

});

</script>
{% endblock %}