{% extends 'base.html' %}

{% block title %}HOSPITALS{% endblock %}

{% block body %}

    <div class="container">
        <br>
        <div class="row">
            <div class="col">
                <h4 class="text-center">ADD HOSPITAL</h4>
                <hr>
                <form method="POST" action="{{ url_for('add_hospital') }}">
                    <div class="form-group row">
                        <label for="hospital_name" class="col-sm-2 col-form-label">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" name="hospital_name" class="form-control" id="hospital_name" placeholder="Mustafa Inan Hospital">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="city_select" class="col-sm-2 col-form-label">City: </label>
                        <div class="col-sm-4">
                            <select class="form-control" name="city_select" id="city_select">
                                {% for city in cities %}
                                     <option value="{{ city }}">{{ city }}</option>
                                {% endfor %}

                        </select>
                        </div>

                        <label for="district_select" class="col-sm-2 col-form-label">District: </label>
                        <div class="col-sm-4">
                            <select class="form-control" name="district_select" id="district_select">
                                 <option value="">Choose a City</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2">Park: </div>
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input class="form-check-input" name="park" type="checkbox" id="park">
                                <label class="form-check-label" for="park">
                                    True
                                </label>
                            </div>
                        </div>

                        <div class="col-sm-3">Handicapped: </div>
                        <div class="col-sm-2">
                            <div class="form-check">
                                <input class="form-check-input" name="handicapped" type="checkbox" id="handicapped">
                                <label class="form-check-label" for="handicapped">
                                    True
                                </label>
                            </div>
                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" id="hebe" class="btn btn-primary">Add hospital</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col">
                <h4 class="text-center">FILTER HOSPITALS</h4>
                <hr>
                <form method="POST" id="filter_hospital_form" action_url="{{url_for('filter_hospital_ajax')}}">
                    <div class="form-group row">
                        <label for="city_select_filter" class="col-sm-2 col-form-label">City: </label>
                        <div class="col-sm-4">
                            <select class="form-control" name="city_select_filter" id="city_select_filter">
                                {% for city in cities %}
                                     <option value="{{ city }}">{{ city }}</option>
                                {% endfor %}

                        </select>
                        </div>

                        <label for="district_select_filter" class="col-sm-2 col-form-label">District: </label>
                        <div class="col-sm-4">
                            <select class="form-control" name="district_select_filter" id="district_select_filter">
                                 <option value="">Choose a District</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="hospital_name_filter" class="col-sm-2 col-form-label">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" name="hospital_name_filter" class="form-control" id="hospital_name_filter" placeholder="ADANA">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="hospital_capacity_filter" class="col-sm-2 col-form-label">Capacity:</label>
                        <div class="col-sm-4">
                            <input type="number" min="0" max="10" name="hospital_capacity_filter" class="form-control" id="hospital_capacity_filter" value="5" required>
                        </div>

                        <label for="hospital_rate_filter" class="col-sm-2 col-form-label">Rate:</label>
                        <div class="col-sm-4">
                            <input type="number" min="0" max="100" name="hospital_rate_filter" class="form-control" id="hospital_rate_filter" value="0" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">Park: </div>
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input class="form-check-input" name="park_filter" type="checkbox" id="park_filter">
                                <label class="form-check-label" for="park_filter">
                                    True
                                </label>
                            </div>
                        </div>

                        <div class="col-sm-3">Handicapped: </div>
                        <div class="col-sm-2">
                            <div class="form-check">
                                <input class="form-check-input" name="handicapped_filter" type="checkbox" id="handicapped_filter" checked>
                                <label class="form-check-label" for="handicapped_filter">
                                    True
                                </label>

                            </div>
                        </div>

                    </div>

                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="button" id="filter_hospital_button" onclick="filter_hospitals();" class="btn btn-danger">Get hospitals</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="update_modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="update_modal_label" aria-hidden="true">
          <div class="modal-dialog" role="document">
          <form method="POST" id="modal_update_form" action="{{ url_for('update_hospital', hospital_id=0) }}">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="update_modal_label">UPDATE HOSPITAL</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                    <div class="form-group row">
                        <label for="modal_hospital_name" class="col-sm-2 col-form-label">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" name="modal_hospital_name" class="form-control" id="modal_hospital_name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="modal_city_select" class="col-sm-2 col-form-label">City: </label>
                        <div class="col-sm-4">
                            <select class="form-control" name="modal_city_select" id="modal_city_select">
                                {% for city in cities %}
                                     <option value="{{ city }}">{{ city }}</option>
                                {% endfor %}

                        </select>
                        </div>

                        <label for="modal_district_select" class="col-sm-2 col-form-label">District: </label>
                        <div class="col-sm-4">
                            <select class="form-control" name="modal_district_select" id="modal_district_select">
                                 <option value="">Choose a City</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2">Park: </div>
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input class="form-check-input" name="modal_park" type="checkbox" id="modal_park">
                                <label class="form-check-label" for="modal_park">
                                    True
                                </label>
                            </div>
                        </div>

                        <div class="col-sm-3">Handicapped: </div>
                        <div class="col-sm-2">
                            <div class="form-check">
                                <input class="form-check-input" name="modal_handicapped" type="checkbox" id="modal_handicapped" checked>
                                <label class="form-check-label" for="modal_handicapped">
                                    True
                                </label>
                            </div>
                        </div>
                    </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
            </div>
          </form>
          </div>
        </div>

        <div id="hospital-table"></div>


    </div>


{% endblock %}

{% block JS %}
<script>

var update_modal = function (hospital_id) {
    let form_action = $('#modal_update_form').attr('action');
    form_action = form_action.split('/');
    form_action.pop(); // remove last character
    form_action = form_action.join('/').concat('/');
    form_action = form_action.concat(hospital_id);
    $('#modal_update_form').attr('action', form_action);
    let tr_id = '#tr_'.concat(hospital_id);
    let tr_elem = $(tr_id);
    let hospital_name = tr_elem.find('td:eq(0)').text();
    let hospital_city_district = tr_elem.find('td:eq(1)').text();
    hospital_city_district = hospital_city_district.split('/');
    let hospital_city = hospital_city_district[0];
    let hospital_district = hospital_city_district[1];
    let hospital_handicapped = tr_elem.find('td:eq(4)').text();
    let hospital_park = tr_elem.find('td:eq(5)').text();


    $('#modal_hospital_name').val(hospital_name);
    $('#modal_city_select').val(hospital_city);
    //$('#modal_district_select').val(hospital_district);
    $('#modal_park').val(hospital_park);
    $('#modal_handicapped').val(hospital_handicapped);
};

var filter_hospitals = function () {
    let url = $('#filter_hospital_form').attr('action_url');
    let city = $('#city_select_filter').val();
    let district = $('#district_select_filter').val();
    let name = $('#hospital_name_filter').val();
    let capacity = $('#hospital_capacity_filter').val();
    let rate = $('#hospital_rate_filter').val();
    let park = $('#park_filter').prop('checked');
    let handicapped = $('#handicapped_filter').prop('checked');

    $.ajax({
            type: 'POST',
            url:url,
            data: {
                'city':city,
                'district':district,
                'name':name,
                'capacity':capacity,
                'rate':rate,
                'park':park,
                'handicapped':handicapped,
            },
            success: function (data) {
                $('#hospital-table').html(data);
            }
        });

    };

$(document).ready(function() {


$('#city_select').change(function () {

        var url = "/get_districts";
        var city_name = $(this).val();
        $.ajax({
            type: 'POST',
            url:url,
            data: {
                'city_name':city_name
            },
            success: function (data) {
                $('#district_select').html(data);
            }
        });
    });

$('#modal_city_select').change(function () {

        var url = "/get_districts";
        var city_name = $(this).val();
        $.ajax({
            type: 'POST',
            url:url,
            data: {
                'city_name':city_name
            },
            success: function (data) {
                $('#modal_district_select').html(data);
            }
        });
    });

$('#city_select_filter').change(function () {

        var url = "/get_districts";
        var city_name = $(this).val();
        $.ajax({
            type: 'POST',
            url:url,
            data: {
                'city_name':city_name
            },
            success: function (data) {
                $('#district_select_filter').html(data);
            }
        });
    });


});

</script>
{% endblock %}