{% extends 'base.html' %}

{% block title %}HOSPITALS{% endblock %}

{% block body %}

    <div class="container">
        <br>
        <div class="row">
            <div class="col">
                <h4 class="text-center">ADD HOSPITAL</h4>
                <hr>
                <form method="POST" action="/add_hospital">
                    <div class="form-group row">
                        <label for="hospital_name" class="col-sm-2 col-form-label">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" name="hospital_name" class="form-control" id="hospital_name" placeholder="Mustafa Inan Hospital">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="city_select" class="col-sm-2 col-form-label">City: </label>
                        <div class="col-sm-4">
                            <select class="form-control" name="city_select" id="city_select">
                                {% for city in cities %}
                                     <option value="{{ city }}">{{ city }}</option>
                                {% endfor %}

                        </select>
                        </div>

                        <label for="district_select" class="col-sm-2 col-form-label">District: </label>
                        <div class="col-sm-4">
                            <select class="form-control" name="district_select" id="district_select">
                            {% for district in districts %}
                                 <option value="{{ district }}">{{ district }}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2">Park: </div>
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input class="form-check-input" name="park" type="checkbox" id="gridCheck1">
                                <label class="form-check-label" for="gridCheck1">
                                    True
                                </label>
                            </div>
                        </div>

                        <div class="col-sm-3">Handicapped: </div>
                        <div class="col-sm-2">
                            <div class="form-check">
                                <input class="form-check-input" name="handicapped" type="checkbox" id="gridCheck1">
                                <label class="form-check-label" for="gridCheck1">
                                    True
                                </label>
                            </div>
                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" id="hebe" class="btn btn-primary">Add hospital</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col">
                <h4 class="text-center">DELETE HOSPITAL</h4>
                <hr>
                {#Mustafa Inan Hospital#}
                {#        hospital_name#}
                <form>
                    <div class="form-group row">
                        <label for="inputtext3" class="col-sm-2 col-form-label">text</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputtext3" placeholder="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                        </div>
                    </div>
                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                                           value="option1" checked>
                                    <label class="form-check-label" for="gridRadios1">
                                        First radio
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2"
                                           value="option2">
                                    <label class="form-check-label" for="gridRadios2">
                                        Second radio
                                    </label>
                                </div>
                                <div class="form-check disabled">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3"
                                           value="option3" disabled>
                                    <label class="form-check-label" for="gridRadios3">
                                        Third disabled radio
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group row">
                        <div class="col-sm-2">Checkbox</div>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck1">
                                <label class="form-check-label" for="gridCheck1">
                                    Example checkbox
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>


        {#        <table class="table table-hover table-inverse">#}
{#            <thead class="thead-inverse">#}
{#            <tr>#}
{#                <th>Name</th>#}
{#                <th>Adress</th>#}
{#                <th>Rate</th>#}
{#                <th>Handicapped</th>#}
{#                <th>Park</th>#}
{#            </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#            {% for hospital in hospitals %}#}
{#            <tr>#}
{#                <td>{{ hospital[0] }}</td>#}
{#                <td>{{ hospital[1] }}/{{ hospital[2] }}</td>#}
{#                <td>{{ hospital[3] }}</td>#}
{#                <td>{{ hospital[4] }}</td>#}
{#                <td>{{ hospital[5] }}</td>#}
{#            </tr>#}
{#            {% endfor %}#}
{##}
{#            </tbody>#}
{#        </table>#}
    </div>


{% endblock %}

{% block JS %}
<script>
$( document ).ready(function() {
let $SCRIPT_ROOT = "127.0.0.1:5000";

$('#city_select').change(function () {

        {#var url = $SCRIPT_ROOT + "/get_districts";#}
        var url = $SCRIPT_ROOT + "/get_hebe";
        var city_name = $(this).val();


        $.ajax({
            type: 'GET',
            url:url,
            data:{
                'city_name':city_name
            },
            success: function (data) {
                alert(data);
                {#$('#district_select').html(districts);#}
            }
        });


    });

});



</script>
{% endblock %}