{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block body %}


    <div class="container">
        <br>
        <h4 class="text-center"></h4>
                <form method="POST" action="/log_in">
                    <div class="form-group row">
                        <label for="doctor_name" class="col-sm-2 col-form-label">TC:</label>
                        <div class="col-sm-10">
                            <input type="text" name="doctor_name" class="form-control" id="doctor_name" placeholder="Your TC number">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="doctor_select" class="col-sm-2 col-form-label">Password: </label>
                        <div class="col-sm-10">
                            <input type="text" name="doctor_name" class="form-control" id="doctor_name" placeholder="Your password">
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" id="hebe" class="btn btn-primary">Log in</button>
                        </div>
                    </div>
                </form>
            </div>






    </div>
{% endblock %}

