{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block body %}


    <div class="container">
        <br>
        <h4 class="text-center">Welcome</h4>
                <form method="POST" action="/add_person">
                    <div class="form-group row">
                        <label for="doctor_name" class="col-sm-2 col-form-label">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" name="name" class="form-control" id="doctor_name" placeholder="Mehmet">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="doctor_select" class="col-sm-2 col-form-label">Surname: </label>
                        <div class="col-sm-10">
                            <input type="text" name="surname" class="form-control" id="doctor_name" placeholder="Yıldız">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="doctor_select" class="col-sm-2 col-form-label">TC: </label>
                        <div class="col-sm-10">
                            <input type="text" name="tc" class="form-control" id="doctor_name" placeholder="Must be legit TC no">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="doctor_select" class="col-sm-2 col-form-label">E-mail: </label>
                        <div class="col-sm-10">
                            <input type="text" name="email" class="form-control" id="doctor_name" placeholder="Will be used to contact">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="city_select" class="col-sm-2 col-form-label">City: </label>
                        <div class="col-sm-4">
                            <select class="form-control" name="city_select" id="city_select">
                                {% for city in cities %}
                                     <option value="{{ city }}">{{ city }}</option>
                                {% endfor %}

                        </select>
                        </div>

                        <label for="district_select" class="col-sm-2 col-form-label">District: </label>
                        <div class="col-sm-4">
                            <select class="form-control" name="district_select" id="district_select">
                                 <option value="">Choose a District</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="doctor_select" class="col-sm-2 col-form-label">Password: </label>
                        <div class="col-sm-10">
                            <input type="text" name="password" class="form-control" id="doctor_name" placeholder="Declare a password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" id="hebe" class="btn btn-primary">Register</button>
                        </div>
                    </div>
                </form>
            </div>


{% endblock %}

{% block JS %}
<script>

$(document).ready(function() {


    $('#city_select').change(function () {

        var url = "/get_districts";
        var city_name = $(this).val();
        $.ajax({
            type: 'POST',
            url: url,
            data: {
                'city_name': city_name
            },
            success: function (data) {
                $('#district_select').html(data);
            }
        });
    });
});

</script>
{% endblock %}